body {
    background-color: darkcyan
}

h1 {
    color: greenyellow;
    text-align: center;
}

h2 {
    color: greenyellow;
    
}

.ko {
    font-size: 20px;
    color: greenyellow;
}